.hoursContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8080800f;
    padding: 2rem;
    font-family: fontAwesome, 'Segoe UI';
    font-size: 1.5rem;
    color: #afafaf;
    border: none !important;
  
    .textSection {
      padding: 1.5rem;
    }
  
    button {
      box-shadow: inset 0px 1px 0px 0px #91c864;
      background-color: #91C864;
      border: 1px solid #d2d6d8;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      padding: 1rem 1rem 3rem 1rem;
      text-decoration: none;
      height: 3rem;
      margin: .5rem;
      border-radius: .4rem;
      font-family: fontAwesome, 'Segoe UI';
      font-size: 1.5rem;
  
      &.notAvailableSlot {
        background-color: #d2d6d8;
        box-shadow: none;
      }
    }
  }