.formContainer {
	max-width: 80%;
	padding: 30px;
	margin: 50px auto;
	border-radius: .7rem;
	border: 2px solid #f7f7f7;
	font-size: 1rem;
	color: #afafaf;
  
	ul {
	  padding: 0;
	  margin: 0;
	  list-style: none;
  
	  li {
		display: block;
		margin-bottom: 10px;
		min-height: 35px;
  
		&.reservationSectionInfo {
		  display: flex;
		  justify-content: space-around;
		  color: #737575;
		}
  
		div.reservationSectionSchedule {
		  background-color: #f3f3f3;
		  width: 45%;
  
		  div {
			padding: 1.5rem;
		  }
		}
  
		.fieldStyle {
		  box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  padding: 8px;
		  outline: none;
		  border: 1px solid #d2d6d8;
		  -webkit-transition: all 0.30s ease-in-out;
		  -moz-transition: all 0.30s ease-in-out;
		  -ms-transition: all 0.30s ease-in-out;
		  -o-transition: all 0.30s ease-in-out;
  
		  &:focus {
			box-shadow: 0 0 5px #d2d6d8;
			border: 1px solid #d2d6d8;
		  }
		}
  
		.fieldSplit {
		  width: 49%;
		}
  
		.fieldSplit3Parts {
		  width: 39%;
		}
  
		.fieldFull {
		  width: 100%;
		}
	  }
	}
  
	select {
	  float: left;
	  padding: .45rem;
	  border: 1px solid #d2d6d8;
	  width: 10%;
	  color: #cfd2d3;
	}
  
	ul li {
	  div.alignLeft {
		float: left;
	  }
  
	  input {
		&.alignLeft {
		  float: left;
		}
  
		&.alignRight {
		  float: right;
		}
	  }
  
	  textarea {
		width: 100%;
		height: 3rem;
	  }
  
	  input {
		&[type="button"], &[type="submit"] {
		  -moz-box-shadow: inset 0px 1px 0px 0px #91C864;
		  -webkit-box-shadow: inset 0px 1px 0px 0px #91C864;
		  box-shadow: inset 0px 1px 0px 0px #91C864;
		  background-color: #91C864;
		  border: 1px solid #d2d6d8;
		  display: inline-block;
		  cursor: pointer;
		  color: #FFFFFF;
		  padding: 8px 18px;
		  text-decoration: none;
		  border-radius: 3px;
		}
  
		&[type="button"]:hover, &[type="submit"]:hover {
		  background: linear-gradient(to bottom, #91C864 5%, #a3cf7e 100%);
		  background-color: #91C864;
		}
	  }
	}
  }